{% extends 'base.html.twig' %}


{% block pageTitle %}Home page{% endblock %}

{% block body %}


    <h1>{{ app.user.username }}'s profile</h1>

    <div>
        {{ dump() }}

        <h3>These are the nurls you have submitted</h3>

        <table>
            {% for nurl in nurls  %}
            <tr>


                <td>

                    {{ nurl.title }}

                </td>

            </tr>
            {%  endfor %}

        </table>

    </div>

{% endblock %}