{% extends 'base.html.twig' %}

{% block title %}Search Results{%  endblock %}

{% block body %}


<h1>Your query results</h1>
{#{{ type }}#}

        {{ data }}

    {#{% for collection in collections %}#}

{{ query }}

{% endblock %}