{% extends 'base.html.twig' %}

{% block title %}Search Results{%  endblock %}

{% block body %}


<h1>Your query results</h1>
{#{{ type }}#}

    {% for query in data %}

        {{ data }}

    {% endfor %}

    {#{% for collection in collections %}#}

{{ query }}

{% endblock %}